.bookingContainer {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3vh;
    gap: 15px;
}

.busSeats {
    display: flex;
    height: fit-content;
}

.col{
    display: flex;
    flex-direction: column;
}


.middle{
    flex-direction: column-reverse;
}

.cardForm {
    width:max-content;
    border: solid #ededed 2px;
    padding: 20px;
    border-radius: 8px;

}

.whitebgInput{
    background-color: #ebebeb;
    display: block;
}

.select{
    background-color: #ebebeb;
}

/* bs.module.css */

.seats {
    display: flex;
    align-items: center;
    width: 47px;
    height: 47px;
    cursor: pointer;
    border: solid #ebebeb 2px;
    border-radius: 8px;
    justify-content: center;
    margin: 2px;
    background-color: rgba(127, 127, 127, 0.06); 
    border-color: #ebebeb; 
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .seats.taken {
    background-color: rgba(255, 0, 0, 0.06); 
    border-color: rgb(255, 127, 127); 
    cursor: not-allowed; 
  }
  
  .seats.selected {
    background-color: rgba(0, 255, 0, 0.06); 
    border-color: var(--mylime); 
  }


@media (max-width:1024px) {
    .bookingContainer{
        grid-template-columns: 100%;
        gap: 10px;
        margin-top: 0;
    }

    .cardForm {
        width: 70%;
        justify-self: center;
    }

    .whitebgInput{
        max-width: 100%;
    }

    .contain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:600px) {
    .cardForm {
        width: 100%;
        margin-left: 0;
    }
}



